@model dynamic
{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="span9">
		<div id="mainMap">Карта</div>
	</div>
	<div class="span3">
		<p>Управление картой</p>
	</div>
</div>
